/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-30, 22:43:17
    Author     : Agata Kondzior
*/


@font-face {
    font-family:DancingScriptRegular;
    src:url("../fonts/DancingScriptRegular.eot");
}
    
@font-face {
    font-family:ASENINE_0;
    src:url("../fonts/ASENINE_0.ttf");
}
    
@font-face {
    font-family:GOTHIC_0;
    src:url("../fonts/GOTHIC_0.ttf");
}
    
@font-face {
    font-family:RAGE;
    src:url("../fonts/RAGE.ttf");
}
    
@font-face {
    font-family:arial;
    src:url("../fonts/arrial.ttf");
}


.container {
	background-image: url("images/background.png");
	position:relative;
	
} 

.nav_bar {
	position: left;
	top:0;
	display: inline;
	
}

.logo {
}

.top_menu {
	list-style:none;
	display:inline;
}

.header {
	list-style:none;
	display:inline;
}

.main_content {
	background-image: url("images/background_light.png");

}

.service {
	list-style:none;
	display:inline;
}

.footer {
	position: center;
}
	


