/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
Created on : 2017-01-30, 22:43:17
Author     : Agata Kondzior */

@font-face {
    font-family:DancingScriptRegular;
    src:url("../fonts/DancingScriptRegular.eot");
}    
@font-face {
    font-family:ASENINE_0;
    src:url("../fonts/ASENINE_0.ttf");
}    
@font-face {
    font-family:GOTHIC_0;
    src:url("../fonts/GOTHIC_0.ttf");
}    
@font-face {
    font-family:Rage;
    src:url("../fonts/RAGE.ttf");
}   
@font-face {
    font-family:Arial;
    src:url("../fonts/arrial.ttf");
}

.container {
	
	background-image: url("../images/background.png");
	background-size: cover;
	/*height: 100%;
	width: 100%;*/
	margin: 0 auto;
	background-repeat: no-repeat;
    	
}	
	
.nav_bar {
	width:auto;
	/*text-align:left;*/
	height:60px;
	margin: 0px;		
}

.logo {
	font-family: "GOTHIC_0";
	width:100%;
	text-align:left;
	height:60px;
	padding-top: 40px;
}

.logo > p {
	font-family: "Gothic_0";
	font-size:30px;
	color: #bf8040;
	margin-top: 0px;
	padding-top: 20px;
	display: inline-block;
}

.logo > h4 {
	font-family: "DancingScriptRegular", "Mistral";
	color: white;
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
}

.top_menu {
	font-family: "GOTHIC_0";
	font-size: 18px;
	display:inline-block;
	margin-left: 150px;
	margin-right: 40px;
	margin-top: 10px;
	/*float: right;*/
}

.top_menu > ul > li {
	font-family: "MS Gothic";
	color: white;
	line-height: 40px;
	list-style: none;
	display: inline;	
}

.top_menu > ul > li > a {
	font-family: "MS Gothic";
	text-decoration: none;
	color: #bf8040;
	margin-top: 30px;
	margin-left: 20px
}

.top_menu > ul > li > a:hover {
	color:white;
}

/.top_menu > ul > li > a.current, .top_menu > ul > li > a.current:hover {
        cursor: default;	
}

.header {
	font-family: Rage;
	color: white;
	list-style:none;
	display:inline-block;
	width: auto;
	margin-top: 50px;
}

.picture {
	float: left;
	position: relative;
	margin-right: 40px;
	
}

.opis {
	/*position: absolute;
	list-style: none;
	display: inline-block;*/
	position: absolute;
}

.opis > ul > li {
	list-style: none;
	display: inline-block;
	

}

.layer {
	position: absolute;
}

.main_content {
	height:650px;
	width: auto;
	background-image: url("../images/background_light.png");
	background-repeat: no-repeat;
	/*display: inline-block;*/
	font-family:"DancingScriptRegular";
	color: white;
}

.main_content > h3 {
	font-family: "Mistral";
	font-size: 25px;
	color: white;

}


/*.service_img {
	
	display: inline;
	margin-right: 40px;
	margin-left: 40px;
}

.service_text {
	font-family: "DancingScriptRegular";
	color: white;
	list-style: none;
	display: inline-block;
}*/

.service_par {
}
.footer {
	position: center;
}
	


