/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
Created on : 2017-01-30, 22:43:17
Author     : Agata Kondzior */

@font-face {
    font-family:DancingScriptRegular;
    src:url("fonts/DancingScriptRegular.eot");
}    
@font-face {
    font-family:ASENINE_0;
    src:url("fonts/ASENINE_0.ttf");
}    
@font-face {
    font-family:GOTHIC_0;
    src:url("fonts/GOTHIC_0.ttf");
}    
@font-face {
    font-family:Rage;
    src:url("fonts/RAGE.ttf");
}   
@font-face {
    font-family:Arial;
    src:url("fonts/arrial.ttf");
}

.left {
	float: left;
}

.right {
	float: right;
}

.container {
	
	/*background-image: url("../images/background.png");
	background-size: cover;
	margin: 0 auto;
	background-repeat: no-repeat;*/
    	
}	
	
.nav_bar {
	width:1550px;
	/*text-align:left;*/
	height:40px;
	margin: 0px;		
}

.logo {
	font-family: "GOTHIC_0";
	width:100%;
	text-align:left;
	height:60px;
	padding-top: 40px;
}

.logo > p {
	font-family: "Ms Gothic";
	font-size:40px;
	color: #bf8040;
	margin-top: 0px;
	padding-top: 20px;
	display: inline-block;
}

.logo > h4 {
	font-family: "DancingScriptRegular", "Mistral";
	color: white;
	font-size: 30px;
	display: inline-block;
	margin-left: 20px;
}

.top_menu {
	font-size: 25px;
	display: inline-block;
	margin-right: 100px;
	margin-top: -40px;
	float: right;
}

.top_menu > ul > li {
	font-family: "MS Gothic";
	color: white;
	list-style: none;
	display: inline;
	margin-left: 70px;
}

.top_menu > ul > li > a {
	font-family: "MS Gothic";
	text-decoration: none;
	color: #bf8040;
	margin-top: 30px;
	margin-left: 20px
}

.top_menu > ul > li > a:hover {
	color:white;
}

/.top_menu > ul > li > a.current, .top_menu > ul > li > a.current:hover {
        cursor: default;	
}

.header {
	font-family: Rage;
	color: white;
	list-style:none;
	display:inline-block;
	width: 1550px;
	margin-top: 150px;
}


.navigation_left {
	float: left;
	margin-top: 150px;
}

.header_image {
	
}

.header_text {
	font-family: "Mistral";
	font-size: 30px;
	position: relative;
	margin-top: -125px;
	margin-left: 130px;
}



.layer_header {
}

.navigation_right {
	float:right;
}

.main_content {
}

.service_header {
	
}

.service_header > h3 {
	font-family: ASENINE_0, sans-serif;
	color: white;
}

.content_image {
}

.content_text {
	font-family: ASENINE_0, sans-serif;
	color: white;	
}

.service_par {
	font-family: ASENINE_0, sans-serif;
	color: white;
}

.par_img {
}

.footer {
}
