/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
Created on : 2017-01-30, 22:43:17
Author     : Agata Kondzior */

/*@font-face {
    font-family:DancingScriptRegular;
    src:url("../fonts/DancingScriptRegular.eot");
}    
@font-face {
    font-family:Asenine_0;
    src:url("../fonts/ASENINE_0.ttf");
}    
@font-face {
    font-family:Gothic_0;
    src:url("../fonts/GOTHIC_0.ttf");
}    
@font-face {
    font-family:Rage;
    src:url("../fonts/RAGE.ttf");
}   
@font-face {
    font-family:Arial;
    src:url("../fonts/arrial.ttf");
}*/

.container {
	
	background-image: url("../images/background.png");
	height: auto;
	width: 100%;
	margin: 0 auto;
	background-repeat: no-repeat;
    	
}	
	
.nav_bar {
	width:100%;
	text-align:left;
	height:60px;
	margin: 0px;		
}

.logo {
	
	width:100%;
	text-align:left;
	height:60px;
	padding-top: 20px;
}

.logo > p {
	font-family: Rage;
	font-size:30px;
	color: #bf8040;
	margin-top: 0px;
	padding-top: 20px;
	display: inline-block;
}

.logo > h4 {
	font-family: "Mistral";
	color: white;
	font-size: 15px;
	display: inline-block;
	margin-left: 10px;
}

.logo > ul > li {
	font-family: Rage;
	color: #bf8040;
	display: inline-block;
	margin-left: 80px;
	text-align: right;
}

.top_menu > ul > li > a {
	text-decoration: none;
	color: white;
	margin: 30px;
	
}

.top_menu {
	
	display:inline-block;
	margin-left:10px;
	
}

.top_menu > ul li {
	font-family: Rage;
	color: white;
	line-height: 40px;
	list-style: none;
	display: inline;	
}

.header {
	list-style:none;
	display:inline;
	font-family: "Freestyle Script";
	color:white;
	height:450px;
}

.main_content {
	height:650px;
	width:
	background-image: url("../images/background_light.png");

}

.main_content > h3 {
	font-family: "Dancing Script Regular";
	color: white;

}


.service_img {
	list-style:none;
	display:inline-block;
}

.service_text {
font-family: "Dancing Script Regular";
}

.service_par {
}
.footer {
	position: center;
}
	


