/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
Created on : 2017-01-30, 22:43:17
Author     : Agata Kondzior */

@font-face {
    font-family:DancingScriptRegular;
    src:url("../fonts/DancingScriptRegular.eot");
}    
@font-face {
    font-family:ASENINE_0;
    src:url("../fonts/ASENINE_0.ttf");
}    
@font-face {
    font-family:GOTHIC_0;
    src:url("../fonts/GOTHIC_0.ttf");
}    
@font-face {
    font-family:Rage;
    src:url("../fonts/RAGE.ttf");
}   
@font-face {
    font-family:Arial;
    src:url("../fonts/arrial.ttf");
}

.container {
	
	background-image: url("../images/background.png");
	background-size: cover;
	/*height: 100%;
	width: 100%;*/
	margin: 0 auto;
	background-repeat: no-repeat;
    	
}	
	
.nav_bar {
	width:auto;
	/*text-align:left;*/
	height:60px;
	margin: 0px;		
}

.logo {
	font-family: "GOTHIC_0";
	width:100%;
	text-align:left;
	height:60px;
	padding-top: 40px;
}

.logo > p {
	font-family: "Gothic_0";
	font-size:30px;
	color: #bf8040;
	margin-top: 0px;
	padding-top: 20px;
	display: inline-block;
}

.logo > h4 {
	font-family: "DancingScriptRegular", "Mistral";
	color: white;
	font-size: 20px;
	display: inline-block;
	margin-left: 20px;
}

/*.logo > ul > li {
	display: inline-block;
	/*margin-left: 80px;
	text-align: right;
}*/

.top_menu {
	font-family: "GOTHIC_0";
	font-size: 18px;
	display:inline-block;
	margin-left: 150px;
	margin-right: 40px;
	margin-top: 10px;
	/*float: right;*/
}

.top_menu > ul > li {
	font-family: "MS Gothic";
	color: white;
	line-height: 40px;
	list-style: none;
	display: inline;	
}

.top_menu > ul > li > a {
	font-family: "MS Gothic";
	text-decoration: none;
	color: #bf8040;
	margin-top: 30px;
	margin-left: 20px
}

.top_menu > ul > li > a:hover {
	color:white;
}

/.top_menu > ul > li > a.current, .top_menu > ul > li > a.current:hover {
        cursor: default;	
}

.header {
	font-family: Rage;
	color: white;
	list-style:none;
	display:inline-block;
	width: auto;
	/*display: inline;
	height:360px;
	width: 600px;*/
	/*float: left;
	clear: right;
	
	/*padding: 10px;
	margin: 10px*/		
}

.img_1 { 
	float:left;
	position: relative;
	margin: 10px;
	margin-top: 155px;
	padding: 180px,10px,20px,0px;
	/*margin-right: 0px;*/
	display: inline-block;	
}

.img_1_1 {
	position:absolute;
	top: 200px;
	float:left;
	
}

}
.img_2 { 
	float:left;
	width: 150px;
	position: relative;
	margin-top: 20px;
	/*padding: 20px,10px,20px,10px;*/
	display: inline-block;
}

.opis_2 {
	position:absolute;
	top: 300px;
}
.img_3 { 
	float:left;
	width: 150px;
	margin: 0px;
	position: relative;
	/*padding: 20px,10px,20px,10px;*/
	display: inline-block;
}


}
.img_4 { 
	float:right;
	width: 150px;
	margin: 0px;
	position: relative;
	/*padding: 20px,10px,20px,10px;*/
	display: inline-block;
}


.layer {
	
}

.img_5 { 
	float:left;
	margin-left: 0px;
	position: relative;
	display: inline-block;
	
}

.header:last child {
	margin: 0
}

}
.header > img {
	
	
	
}

.header > p }
	
}

.main_content {
	height:650px;
	width: 650px;
	background-image: url("../images/background_light.png");
	
	/*display: inline-block;*/
}

.main_content > h3 {
	font-family: "Mistral";
	font-size: 25px;
	color: white;

}


.service_img {
	list-style:none;
	display:inline;
}

.service_text {
font-family: "DancingScriptRegular";
}

.service_par {
}
.footer {
	position: center;
}
	


