/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
Created on : 2017-01-30, 22:43:17
Author     : Agata Kondzior */

/*@font-face {
    font-family:DancingScriptRegular;
    src:url("../fonts/DancingScriptRegular.eot");
}    
@font-face {
    font-family:Asenine_0;
    src:url("../fonts/ASENINE_0.ttf");
}    
@font-face {
    font-family:Gothic_0;
    src:url("../fonts/GOTHIC_0.ttf");
}    
@font-face {
    font-family:Rage;
    src:url("../fonts/RAGE.ttf");
}   
@font-face {
    font-family:Arial;
    src:url("../fonts/arrial.ttf");
}*/

.container {
	
	background-image: url("../images/background.png");
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-repeat: no-repeat;
    	
}	
	
.nav_bar {
	width:100%;
	/*text-align:left;*/
	height:60px;
	margin: 0px;		
}

.logo {
	font-family: "Helvetica Narrow";
	width:100%;
	text-align:left;
	height:60px;
	padding-top: 20px;
}

.logo > p {
	font-family: "Helvetica Narrow";
	font-size:30px;
	color: #bf8040;
	margin-top: 0px;
	padding-top: 20px;
	display: inline-block;
}

.logo > h4 {
	font-family: "Mistral";
	color: white;
	font-size: 15px;
	display: inline-block;
	margin-left: 10px;
}

/*.logo > ul > li {
	display: inline-block;
	/*margin-left: 80px;
	text-align: right;
}*/

.top_menu {
	
	display:inline-block;
	margin-left:10px;	
}

.top_menu > ul li {
	font-family: "Helvetica Narrow";
	color: white;
	line-height: 40px;
	list-style: none;
	display: inline;	
}

.top_menu > ul > li > a {
	font-family: "Helvetica Narrow";
	text-decoration: none;
	color: #bf8040;
	margin: 30px;
	
}

.top_menu > ul > li > a:hover {
}

.top_menu > ul > li > a.current, .top_menu > ul > li > a.current:hover {
        
	cursor: default;
	
}

.header {
	font-family: Rage;
	color: white;
	list-style:none;
	display: inline-block;
	/*display: inline;
	height:360px;
	width: 600px;*/
	float: left;
	/*padding: 10px;
	margin: 10px*/	
	
}

.img_1 { 
	float:left;
	/*position: fixed;
	margin: 20px;
	padding: 20px,10px,20px,10px;*/
	margin-right: 0px;
}

.img_2 { 
	float:left;
	/*position: relative;*/
	/*margin-left: 30px;*/
	margin
}

.img_3 { 
	float:left;
}

.img_4 { 
	float:left;
}


.layer {
	position:center;
}

.img_5{ 
	float:left;
}

.header:last child {
	margin: 0
}

}
.header > img {
	
	
	
}

.header > p }
	
}

.main_content {
	height:650px;
	width: 650px;
	background-image: url("../images/background_light.png");

}

.main_content > h3 {
	font-family: "Mistral";
	font-size: 25px;
	color: white;

}


.service_img {
	list-style:none;
	display:inline;
}

.service_text {
font-family: "Dancing Script Regular";
}

.service_par {
}
.footer {
	position: center;
}
	


